---
---
<!doctype html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {% feed_meta %}
  <link rel="stylesheet" href="<!-- inject:css --><!-- endinject -->">
</head>

<body class="c-page  {% if page.classes %}{{ page.classes | join: ' ' | prepend: ' ' }}{% endif %}">

{% include icons.svg %}

{% include menu.html %}

{% include sidebar.html %}

<div class="c-page__wrapper">

  {{ content }}

</div> <!-- /.c-page__wrapper -->

<script src="<!-- inject:js --><!-- endinject -->"></script>

</body>
</html>
