/* ==========================================================================

   @MOBILE NAVIGATION

   ========================================================================== */


.c-menu-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: c('black');
  z-index: z('sidebar');
  text-align: center;
  display: none;
}


.c-menu {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}


.c-menu__item {

}



.c-menu__link {
  color: c('white');
  display: block;
  padding: $spacing $spacing-l;
  border-radius: $radius;

   &:hover,
   &:active {
    background-color: #3f4d5f;
    color: c('white');
  }

  .is-current & {
    color: c('accent');
  }

}



.c-menu__icon {
  width: 36px;
  height: 36px;
  fill: c('white','secondary');
  margin-right: $spacing;

  .is-current & {
    fill: c('accent');
  }

}



.c-menu__text {
  font-size: fs('h3');
  font-weight: 600;
  vertical-align: middle;
}




/* Trigger
   ========================================================================== */

.c-menu-trigger {
  display: block;
  padding: $spacing-s;
  position: fixed;
  top: $spacing-s;
  right: $spacing-s;
  background-color: c('white');
  z-index: 99;
  border-radius: $radius;
  &:hover {
    background: c('black','tertiary');
  }

  @include mq(m) {
    display: none;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: c('black');
    transition: $transition;

    .c-menu-trigger:hover > & {
      fill: c('white');
    }

  }

}


/* Close
   ========================================================================== */

.c-menu-close {
  display: block;
  padding: $spacing-s;
  position: fixed;
  top: $spacing-s;
  right: $spacing-s;
  z-index: 99;
  border-radius: $radius;
  &:hover {
    background: c('white','tertiary');
  }

  &__icon {
    width: 28px;
    height: 28px;
    fill: c('white');
    transition: $transition;

    .c-menu-close:hover > & {
      fill: c('white');
    }

  }

}
