/* ==========================================================================

   @IMAGES

   ========================================================================== */

.c-media {
  background-color: #f6f6f6;
  position: relative;

  &__source {
    transition: $transition;
    z-index: 10;
  }

}
