/* ==========================================================================

   @PRELOADER

   ========================================================================== */

   .c-preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: z('preloader');
    background-color: c('white');
    transition: $transition;
   }
