<!-- start /_includes/sidebar.html -->


<div class="c-sidebar">

  <!-- LOGO -->
  <div class="c-logo" >
      <a class="c-logo__link" href="/"><svg class="o-icon  c-logo__symbol"><use xlink:href="#logo"></use></svg></a>
  </div>

  <!-- MAIN NAV -->
  <ul class="c-nav c-nav--main">
    <li class="c-nav--main__item  {% if page.title_tech == 'Profile' %}is-current{% endif%}">
      <a class="c-nav--main__link" href="/">
        <svg class="o-icon  c-nav--main__icon"><use xlink:href="#profile"></use></svg>
        <span class="c-nav--main__text">Profile</span>
      </a>
    </li>
    <li class="c-nav--main__item  {% if page.title_tech == 'Design' %}is-current{% endif%}">
      <a class="c-nav--main__link" href="/design/">
        <svg class="o-icon  c-nav--main__icon"><use xlink:href="#design"></use></svg>
        <span class="c-nav--main__text">Design</span>
      </a>
    </li>
    <li class="c-nav--main__item  {% if page.title_tech == 'Video' %}is-current{% endif%}">
      <a class="c-nav--main__link" href="/video/">
        <svg class="o-icon  c-nav--main__icon"><use xlink:href="#video"></use></svg>
        <span class="c-nav--main__text">Video</span>
      </a>
    </li>
    <li class="c-nav--main__item  {% if page.title_tech == 'Lab' %}is-current{% endif%}">
      <a class="c-nav--main__link" href="/lab/">
        <svg class="o-icon  c-nav--main__icon"><use xlink:href="#lab"></use></svg>
        <span class="c-nav--main__text">Lab</span>
      </a>
    </li>
  </ul> <!-- /.c-nav--main -->

  <!-- SOCIAL NAV -->
  <ul class="c-nav c-nav--social">

    <li class="c-nav--social__item">
      <a class="c-nav--social__link  c-hint--right" aria-label="Linkedin" href="https://www.linkedin.com/in/ivanbabko/" target="_blank">
        <svg class="o-icon  c-nav--social__icon  linkedin"><use xlink:href="#linkedin"></use></svg>
      </a>
    </li>

    <li class="c-nav--social__item">
      <a class="c-nav--social__link  c-hint--right" aria-label="Dribbble" href="https://dribbble.com/ivanbabko" target="_blank">
        <svg class="o-icon  c-nav--social__icon  dribbble"><use xlink:href="#dribbble"></use></svg>
      </a>
    </li>

    <li class="c-nav--social__item">
      <a class="c-nav--social__link   c-hint--right" aria-label="Github" href="https://github.com/ivanbabko" target="_blank">
        <svg class="o-icon  c-nav--social__icon  github"><use xlink:href="#github"></use></svg>
      </a>
    </li>

  </ul> <!-- /.c-nav--social -->

</div> <!-- /.c-sidebar -->

<!-- end /_includes/sidebar.html -->
