<!-- start /_includes/topbar.html -->

<div class="c-topbar  c-topbar--down">
  <a class="c-topbar__btn  c-topbar__btn--prev  c-hint--bottom-right" aria-label="{{ page.previous_in_category.type }}: {{ page.previous_in_category.title }} " href="{{ page.previous_in_category.url }}">
    <svg class="o-icon  c-topbar__icon"><use xlink:href="#chevron-left"></use></svg>
  </a>
  <a class="c-topbar__btn  c-topbar__btn--next  c-hint--bottom-right" aria-label="{{ page.next_in_category.type }}: {{ page.next_in_category.title }}" href="{{ page.next_in_category.url }}">
    <svg class="o-icon  c-topbar__icon"><use xlink:href="#chevron-right"></use></svg>
  </a>
  <a class="c-topbar__btn  c-topbar__btn--close" aria-label="Close" href="/portfolio/">
    <svg class="o-icon  c-topbar__icon"><use xlink:href="#close"></use></svg>
  </a>
</div> <!-- /.c-topbar -->

<!-- end /_includes/topbar.html -->
